<%- include('partials/header', { title: 'Mortgage Calculator', activeTab: 'input' }) %>

<div class="container">
    <!-- Control buttons -->
    <div class="btn-group mt-3 mb-3">
        <button type="button" id="populateTestData" class="btn btn-secondary">Add Test Data</button>
        <button type="button" id="clearForm" class="btn btn-outline-secondary">Clear Form</button>
    </div>

    <!-- Tab Navigation -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#input">Input</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#ifw_form">IFW</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#refi_checker">REFI Checker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#payoff">Pay Off</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#escrow">Escrow</a>
        </li>
    </ul>

    <!-- Tab Content Container -->
    <div class="tab-content">
        <!-- Content panes go here -->


        <div class="tab-content">
            <!-- Input Tab Content -->
            <div class="tab-pane fade show active" id="input">
                <form id="mortgageForm" action="/submit" method="POST">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Left and Right Tables -->
                            <div class="form-container">
                                <!-- Left Table -->
                                <div class="left-form">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td><label class="lbl-left" for="borrowerName">Borrower Name</label></td>
                                            <td><input type="text" class="form-control" id="borrowerName" name="borrowerName" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="mortgageBalance">Current 1st Mortgage Balance</label></td>
                                            <td><input type="text" class="form-control currency-input" id="mortgageBalance" name="mortgageBalance" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="mortgageRate">Current 1st Mortgage Rate (%)</label></td>
                                            <td>
                                                <input type="text" class="form-control percentage-input" id="mortgageRate" 
                                                       name="mortgageRate" required style="text-align: right;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="currentPITIFirst">Current P I T I 1st Mtg. </label></td>
                                            <td><input type="text" class="form-control currency-input" id="currentPITIFirst" name="currentPITIFirst" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="currentPandIorIOFirst">Current P & I or IO Pymt 1st Mtg</label></td>
                                            <td><input type="text" class="form-control currency-input" id="currentPandIorIOFirst" name="currentPandIorIOFirst" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="currentMonthlyMI">Current Monthy Mortgage Ins (MI)</label></td>
                                            <td><input type="text" class="form-control currency-input" id="currentMonthlyMI" name="currentMonthlyMI" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="currentAnnualTaxes">Current Annual Taxes</label></td>
                                            <td><input type="text" class="form-control currency-input" id="currentAnnualTaxes" name="currentAnnualTaxes" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="currentAnnualInsurance">Current Annual Insurance</label></td>
                                            <td><input type="text" class="form-control currency-input" id="currentAnnualInsurance" name="currentAnnualInsurance" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="currentInsPolEffDate">Current Ins Policy Eff. Date</label></td>
                                            <td><input type="text" class="form-control currency-input" id="currentInsPolEffDate" name="currentInsPolEffDate" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="current2ndMtgBal">Current 2nd Mtg Bal</label></td>
                                            <td><input type="text" class="form-control currency-input" id="current2ndMtgBal" name="current2ndMtgBal" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="current2ndMtgRate">Current 2nd Mtg Rate</label></td>
                                            <td><input type="text" class="form-control currency-input" id="current2ndMtgRate" name="current2ndMtgRate" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="currentPandIorIOSecond">Current P & I or IO Pymt 2nd</label></td>
                                            <td><input type="text" class="form-control currency-input" id="currentPandIorIOSecond" name="currentPandIorIOSecond" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="totalPITIFirstSecond">Total PITI 1st & 2nd</label></td>
                                            <td><input type="text" class="form-control currency-input" id="totalPITIFirstSecond" name="totalPITIFirstSecond" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="totalPIMI12Other">Total P&I & MI on 1st & 2nd & Other Debt</label></td>
                                            <td><input type="text" class="form-control currency-input" id="totalPIMI12Other" name="totalPIMI12Other" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="balOfOtherDebts">Bal of "Other" Debts to Payoff</label></td>
                                            <td><input type="text" class="form-control currency-input" id="balOfOtherDebts" name="balOfOtherDebts" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="monthlyPmtOtherDebt">Mo. Pymt of "Other" Debt to payoff</label></td>
                                            <td><input type="text" class="form-control currency-input" id="monthlyPmtOtherDebt" name="monthlyPmtOtherDebt" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="lastPaymentDate">Last Payment Date</label></td>
                                            <td><input type="date" class="form-control" id="lastPaymentDate" name="lastPaymentDate" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="estClosingDate">Est. Closing Date</label></td>
                                            <td><input type="date" class="form-control" id="estClosingDate" name="estClosingDate" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="fundingDate">Funding Date</label></td>
                                            <td><input type="date" class="form-control" id="fundingDate" name="fundingDate" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="monthEnd">Month end</label></td>
                                            <td><input type="date" class="form-control" id="monthEnd" name="monthEnd" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="noPaymentDueMonth">No Payment Due Month</label></td>
                                            <td><input type="date" class="form-control" id="noPaymentDueMonth" name="noPaymentDueMonth" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="firstPmtDueDate">1st Payment due date</label></td>
                                            <td><input type="date" class="form-control" id="firstPmtDueDate" name="firstPmtDueDate" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="estEscrowRefund">Est Escrow Refund (be conservative)</label></td>
                                            <td><input type="text" class="form-control currency-input" id="estEscrowRefund" name="estEscrowRefund" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="appraisedValue">Appraised Value</label></td>
                                            <td><input type="text" class="form-control currency-input" id="appraisedValue" name="appraisedValue" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="ficoScore">FICO Score</label></td>
                                            <td><input type="number" class="form-control" id="ficoScore" name="ficoScore" required></td>
                                        </tr>
                                        <tr>
                                            <td><label class="lbl-left" for="newInterestRate">New Interest Rate (%)</label></td>
                                            <td><input type="number" class="form-control" id="newInterestRate" name="newInterestRate" step="0.0001" min="0" max="100" required></td>
                                        </tr>
                                    </table>
                                </div>
        
                                <!-- Right Table -->
                                <div class="right-form">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="monthly-breakdown">
                                                <th colspan="4">Monthly Payment Breakdown</th>
                                            </tr>
                                            <tr>
                                                <th class="breakdown-header">Component</th>
                                                <th class="breakdown-header">Value</th>
                                                <th class="breakdown-header">Calculation</th>
                                                <th class="breakdown-header">Annual</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="lbl-right">Principle</td>
                                                <td><input class="breakdown-input" type="number" id="principleInput" value="502.18" class="form-control"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="lbl-right">Interest</td>
                                                <td><input class="breakdown-input" type="number" id="interestInput" value="3928.11" class="form-control"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="lbl-right">Taxes</td>
                                                <td><input class="breakdown-input" type="number" id="taxesMonthly" class="form-control" readonly style="background-color: #f9f9f9;"></td>
                                                <td><input class="breakdown-input" type="number" id="taxesCalc" class="form-control" readonly style="background-color: #f9f9f9;"></td>
                                                <td><input class="breakdown-input" type="number" id="taxesAnnual" value="4335.56" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td class="lbl-right">Insurance</td>
                                                <td><input class="breakdown-input" type="number" id="insuranceInput" value="216.80" class="form-control"></td>
                                                <td><input class="breakdown-input" type="number" id="insuranceCalc" class="form-control" readonly style="background-color: #f9f9f9;"></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="lbl-right">Escrow</td>
                                                <td><input class="breakdown-input" type="number" id="escrowInput" value="693.92" class="form-control"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="lbl-right">Escrow Balance</td>
                                                <td><input class="breakdown-input" type="number" id="escrowBalanceInput" value="272.35" class="form-control"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
        
                            <!-- Address Section -->
                            <div class="address-container">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" name="address" autocomplete="off" placeholder="Start typing an address..." required>
                                </div>
                                <div class="form-group">
                                    <label for="locality">City</label>
                                    <input type="text" class="form-control" id="locality" name="locality" required>
                                </div>
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <select class="form-control" id="state" name="state" required>
                                        <option value="">Select a state</option>
                                        <% if (typeof error === 'undefined') { %>
                                            <% states.forEach(function(state) { %>
                                                <option value="<%= state.code %>"><%= state.name %></option>
                                            <% }); %>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="postalCode">Postal Code</label>
                                    <input type="text" class="form-control" id="postalCode" name="postalCode" required>
                                </div>
                            </div>
        
                            <div class="mt-4">
                                <button type="submit" class="btn btn-primary btn-lg w-100">Calculate</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
            <!-- Other tab panes will go here -->
            <div class="tab-pane fade" id="ifw_form">
                <!-- IFW form content will go here -->
            </div>
            <div class="tab-pane fade" id="refi_checker">
                <!-- REFI Checker content will go here -->
            </div>
            <div class="tab-pane fade" id="payoff">
                <!-- Payoff content will go here -->
            </div>
            <div class="tab-pane fade" id="escrow">
                <!-- Escrow content will go here -->
            </div>
        </div>
    </div>
</div>